<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>HRC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FetchData</display-name>
    <servlet-name>FetchData</servlet-name>
    <servlet-class>FetchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchData</servlet-name>
    <url-pattern>/FetchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddData</display-name>
    <servlet-name>AddData</servlet-name>
    <servlet-class>AddData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddData</servlet-name>
    <url-pattern>/AddData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteData</display-name>
    <servlet-name>DeleteData</servlet-name>
    <servlet-class>DeleteData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteData</servlet-name>
    <url-pattern>/DeleteData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditData</display-name>
    <servlet-name>EditData</servlet-name>
    <servlet-class>EditData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditData</servlet-name>
    <url-pattern>/EditData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvanceSearch</display-name>
    <servlet-name>AdvanceSearch</servlet-name>
    <servlet-class>AdvanceSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvanceSearch</servlet-name>
    <url-pattern>/AdvanceSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchData</display-name>
    <servlet-name>SearchData</servlet-name>
    <servlet-class>SearchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchData</servlet-name>
    <url-pattern>/SearchData</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Predict</display-name>
    <servlet-name>Predict</servlet-name>
    <servlet-class>Predict</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Predict</servlet-name>
    <url-pattern>/Predict</url-pattern>
  </servlet-mapping>
</web-app>